<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <form [formGroup]="addProductForm" (ngSubmit)="save()">

        <div class="form-group">
          <label for="nom">nom product</label>
          <input formControlName="nom" type="text" id="nom" class="form-control">
        </div>

        <div *ngIf="nomProduct?.touched && nomProduct?.invalid">
          <small *ngIf="nomProduct?.errors!['required']" class="text-danger">firstname is required <br></small>
          <small *ngIf="nomProduct?.errors!['pattern']" class="text-danger">invalid firstname <br></small>
          <small *ngIf="nomProduct?.errors!['minlength']" class="text-danger">firstname must contain at least 3
            characters</small>
        </div>


        <div class="form-group">
          <label for="cap">description</label>
          <input formControlName="description" type="text" id="cap" class="form-control">
        </div>

        <div *ngIf="descriptionProduct?.touched && descriptionProduct?.invalid">
          <small *ngIf="descriptionProduct?.errors!['required']" class="text-danger">description is required <br></small>
        </div>

        <div class="form-group">
          <label for="cap">prix</label>
          <input formControlName="prix" type="number" id="cap" class="form-control">
        </div>

        <div *ngIf="prixProduct?.touched && prixProduct?.invalid">
          <small *ngIf="prixProduct?.errors!['required']" class="text-danger">prix is required <br></small>
        </div>


<!--

                <div formArrayName="plusZyeda">
                  <h2>chneya maaah zyyeda ?</h2>
                  <button (click)="addZyeda()" class="btn btn-warning" type="button">+++</button>
                  <div *ngFor="let competence of zyeda.controls; let i=index">
                    <label for="competence-{{ i }}">Zyedaa {{i+1}} : </label>
                    <input class="bg-blue-100 mb-3" id="competence-{{ i }}" type="text" [formControlName]="i">
                  </div>
                </div>
-->
        <div formArrayName="plusZyeda">
          <h2>chneya maaah zyyeda ?</h2>

          <button (click)="addZyeda()" class="btn btn-outline-warning mr-5 mt-3" type="button">+++</button>
          <button (click)="deleteZyeda()" class="btn btn-outline-danger  mt-3" type="button">---</button>

          <div *ngFor="let item of zyeda.controls; let i = index" [formGroupName]="i">
            <div>
              <label for="nom{{i}}">Nom Zyedaa {{i+1}} : </label>
              <input class="bg-blue-100 mb-1" type="text" id="nom{{i}}" formControlName="nom">
            </div>

            <div>
              <label for="prix{{i}}">Prix Zyedaa {{i+1}} : </label>
              <input class="bg-blue-100 mb-3" type="number" id="prix{{i}}" formControlName="prix">
            </div>
          </div>
        </div>



        <!--
     [disabled]="addUserForm.invalid"
  -->
        <br>
        <input [disabled]="addProductForm.invalid" type="submit" value="add product" class="btn btn-info">
      </form>
    </div>
  </div>
</div>
