
<footer class="text-center footer2">

  <div class="p-5 grid md:grid-cols-1">

    <div class="mt-20">
      <p class="titleFooter">CREATIVITY ABOVE</p>
    </div>


    <ul class="linksFooter my-5 md:flex md:justify-between items-center  mx-52  mt-20 space-y-3" >
      <li class="list-inline-item ">
        <a href="#">
          Home
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          About us.
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          Portfolio.
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          Contact us.
        </a>
      </li>
    </ul>


  </div>

</footer>
