<nav class="container mx-auto ">
  <div class="md:hidden cursor-pointer" id="burger">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-10 h-10"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
      />
    </svg>
  </div>
  <ul  id="menu" class="md:flex md:justify-between items-center  mx-52 hidden">

    <li><a href=""><img src="https://esprit.tn/uploads/Logo_ESPRIT_og.jpg" class="w-52" alt=""></a></li>
    <li><a routerLink="/" ><span class="navText ">Home.</span></a></li>
    <li><a routerLink="/private-modules/store" ><span class="navText ">Store.</span></a></li>
    <li><a routerLink="/private-modules/addProduct"><span class="navText ">Add Product.</span></a></li>
    <li><a href=""><span class="navText ">Portfolio.</span></a></li>
    <li><a href=""><span class="navText ">Contact us.</span></a></li>

  </ul>

</nav>
